@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root {
    --overpass: 'Overpass', sans-serif;
    --orange: #fb7413;
    --light-grey: #959eac;
    --medium-grey: #7c8798;
    --dark-blue: #252d37;
    --very-dark-blue: #121417;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family:var(--overpass);
    background-color: var(--very-dark-blue);
    color: var(--light-grey);
    height: 100vh;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.content {
    height: 100vh;
    padding: 20px;
    display: flex;
    width: 100%;
    min-width: 375px;
    justify-content: center;
    align-items: center;
}

.flip-card {
    min-width: 325px;
    max-width: 375px;
    height: 400px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
} 
.flip-card-inner.flipped {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    background: var(--dark-blue);
    background: rgba(37,45,55,1);
    background: linear-gradient(180deg, rgba(37,45,55,1) 0%, rgb(24, 28, 33) 100%);
    min-width: 325px;
    max-width: 375px;
    padding: 25px;
    margin: 0 auto;
    border-radius: 15px;
    align-self: center;
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-card-back {
    transform: rotateY(180deg);
}
.star {
    padding: 10px;
    background-color: var(--very-dark-blue);
    border-radius: 999px;
}
h1 {
    font-size: 28px;
    color: white;
    font-weight: 700;
    margin: 20px 0;
}
#form-rate .form-rate-inputs {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 20px 0;
}
#form-rate .form-rate-inputs input {
    display: none;
}
#form-rate .form-rate-inputs input:checked ~ span {
    opacity: 1;
    background: #7c8798;
    color: white;
}
#form-rate .form-rate-inputs span {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    text-decoration: none;
    color: var(--light-grey);
    background-color: var(--very-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s;
}
#form-rate .form-rate-inputs span:hover {
    color: white;
    background-color: var(--orange);
}
.submit {
    width: 100%;
    color: white;
    background-color: var(--orange);
    text-align: center;
    padding: 15px 0;
    border-radius: 999px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
}
#form-rate .submit:hover {
    background-color: white;
    color: var(--orange);
}

.thanks-img{
    margin: 20px 0 40px 0;
}
.rating {
    display: inline;
    padding: 10px 40px;
    border-radius: 20px;
    color: var(--orange);
    background-color: rgba(37,45,55,1);
}